/* Reset général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body, html {
    height: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; /* 🛡️ bloque les scrolls horizontaux indésirables */
  }
  