.presentation-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 50px;
    color: white;
    background : #0c1a2a; 
  }
  
  .presentation-text-container {
    max-width: 600px;
  }
  
  .presentation-title {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #5da9e9;
  }
  
  .presentation-text {
    font-size: 1.3em;
    line-height: 1.6;
  }
  
  .presentation-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #007acc;
    border: none;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .presentation-btn:hover {
    background-color: #005a99;
    transform: translateY(-5px);
  }
  
  .presentation-image {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    perspective: 1000px;
  }
  
  .presentation-img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }
  
  .presentation-img:hover {
    transform: scale(1.05);
  }
  
  